
@{
    ViewData["Title"] = "Agent";
    ViewData["ImageViewHeader"] = "Agent";
}

@section Header{
    @Html.Partial("_ImageView")
}


<section class="ftco-section ftco-agent">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="agent">
                    <div class="img">
                        <img src="/images/team-1.jpg" class="img-fluid" alt="Colorlib Template">
                    </div>
                    <div class="desc">
                        <h3><a href="properties.html">James Stallon</a></h3>
                        <p class="h-info"><span class="location">Listing</span> <span class="details">&mdash; 10 Properties</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="agent">
                    <div class="img">
                        <img src="/images/team-2.jpg" class="img-fluid" alt="Colorlib Template">
                    </div>
                    <div class="desc">
                        <h3><a href="properties.html">James Stallon</a></h3>
                        <p class="h-info"><span class="location">Listing</span> <span class="details">&mdash; 10 Properties</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="agent">
                    <div class="img">
                        <img src="/images/team-3.jpg" class="img-fluid" alt="Colorlib Template">
                    </div>
                    <div class="desc">
                        <h3><a href="properties.html">James Stallon</a></h3>
                        <p class="h-info"><span class="location">Listing</span> <span class="details">&mdash; 10 Properties</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="agent">
                    <div class="img">
                        <img src="/images/team-4.jpg" class="img-fluid" alt="Colorlib Template">
                    </div>
                    <div class="desc">
                        <h3><a href="properties.html">James Stallon</a></h3>
                        <p class="h-info"><span class="position">Listing</span> <span class="details">&mdash; 10 Properties</span></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="agent">
                    <div class="img">
                        <img src="/images/team-5.jpg" class="img-fluid" alt="Colorlib Template">
                    </div>
                    <div class="desc">
                        <h3><a href="properties.html">James Stallon</a></h3>
                        <p class="h-info"><span class="location">Listing</span> <span class="details">&mdash; 10 Properties</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="agent">
                    <div class="img">
                        <img src="/images/team-6.jpg" class="img-fluid" alt="Colorlib Template">
                    </div>
                    <div class="desc">
                        <h3><a href="properties.html">James Stallon</a></h3>
                        <p class="h-info"><span class="location">Listing</span> <span class="details">&mdash; 10 Properties</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="agent">
                    <div class="img">
                        <img src="/images/team-7.jpg" class="img-fluid" alt="Colorlib Template">
                    </div>
                    <div class="desc">
                        <h3><a href="properties.html">James Stallon</a></h3>
                        <p class="h-info"><span class="location">Listing</span> <span class="details">&mdash; 10 Properties</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="agent">
                    <div class="img">
                        <img src="/images/team-8.jpg" class="img-fluid" alt="Colorlib Template">
                    </div>
                    <div class="desc">
                        <h3><a href="properties.html">James Stallon</a></h3>
                        <p class="h-info"><span class="position">Listing</span> <span class="details">&mdash; 10 Properties</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>